@media (min-width: 1365px) {
    .body-min {
      --header-height:130px;
  
      .bread-crumbs {
        background: none;
      }
  
      .site-container {
        --header-top-height:130px;
        grid-template-columns: 1fr;
        background-color: #f9f9f9;
      }
  
      .header {
        background-color: #fff;
      }
  
      .header__inner {
        max-width: 1530px;
        margin: 0 auto;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
  
      main {
        padding: 0 var(--main-padding);
        max-width: 1530px;
        margin: 0 auto;
      }
  
      .header__burger-menu {
        padding-right: 0;
        -webkit-box-flex: initial;
        -ms-flex-positive: initial;
        flex-grow: 0;
      }
  
      .logo {
        margin-right: 0;
        width: 240px;
      }
  
      .header__right {
        width: auto;
        padding-left: 30px;
        background: none;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
      }
  
      .header__phone {
        font-size: 24px;
      }
  
      .aside-container, .header__bottom-decr, .header__interaÑtive-wrap, .header__nav, .youtube-link {
        display: none;
      }
  
      .header__btn--location, .header__make-call {
        font-size: 16px;
      }
  
      .footer__bottom, .footer__company p, .footer__middle, .footer__top h3 {
        display: none;
      }
  
      .footer__container {
        max-width: 1530px;
        grid-template-columns: 180px auto;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 42px;
        margin: 0 auto;
      }
  
      .footer__top {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 77px;
        -webkit-column-gap: 77px;
        -moz-column-gap: 77px;
        column-gap: 77px;
      }
  
      .footer__link-phone:after {
        content: none;
      }
    }
  }
  
  main {
    background: #f9f9f9;
  }
  
  .cart-complete {
    line-height: 1.3;
    font-weight: 400;
  
    h1, h2, h3, strong {
      color: #121212;
    }
  
    .wrap-block {
      margin-bottom: 30px;
      padding: 30px var(--main-padding);
      background: #fff;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete {
      display: grid;
      grid-template-columns: 1fr -webkit-min-content;
      grid-template-columns: 1fr min-content;
      grid-column-gap: 30px;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
      margin-top: 60px;
    }
  }
  
  .cart-complete__main {
    .title {
      margin-bottom: 40px;
    }
  
    p {
      line-height: 1.5;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__main {
      --main-padding:30px;
    }
  }
  
  .cart-complete__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  
    > p + p {
      margin-top: 30px;
    }
  
    a {
      color: #5f3ec0;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__top {
      h1 {
        font-size: 50px;
      }
  
      &.wrap-block {
        padding-top: 55px;
        margin-bottom: 0;
      }
    }
  }
  
  .cart-complete__order-number {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
  
    span {
      margin-bottom: 15px;
      text-transform: uppercase;
      color: #5f3ec0;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__order-number {
      font-weight: 700;
      font-size: 28px;
    }
  }
  
  .cart-complete__details {
    display: grid;
    grid-row-gap: 40px;
    row-gap: 40px;
    margin-bottom: 40px;
  }
  
  @media (min-width: 769px) {
    .cart-complete__details {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      -webkit-column-gap: 30px;
      -moz-column-gap: 30px;
      column-gap: 30px;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__bottom .title {
      margin-bottom: 25px;
    }
  }
  
  .cart-complete__info-block {
    position: relative;
  
    h3 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 18px;
    }
  
    img {
      position: absolute;
      top: 50px;
      right: 0;
      width: 56px;
      height: 34px;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__info-block {
      padding: 20px;
      border: 1px solid #b4b4b4;
      border-radius: 8px;
    }
  }
  
  @media (min-width: 1365px) {
    .cart-complete__info-block img {
      top: 20px;
      right: 20px;
      width: 65px;
      height: 39px;
    }
  }
  
  .cart-complete__back {
    padding-right: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #5f3ec0;
  
    &:before {
      top: 60%;
      width: 8px;
      height: 8px;
    }
  }
  
  .cart-complete__right {
    display: none;
  }
  
  @media (min-width: 1365px) {
    .cart-complete__right {
      width: 550px;
      display: block;
      font-weight: 500;
  
      .form-wrap {
        padding: 60px 30px;
      }
  
      .menu-title {
        margin-bottom: 24px;
        font-size: 50px;
        line-height: 1.3;
      }
  
      .menu-head + p {
        font-size: 18px;
        color: #b4b4b4;
      }
  
      .form__forgot-pass {
        margin-top: -10px;
        margin-bottom: 10px;
      }
  
      .form__submit {
        margin-bottom: 10px;
        justify-self: start;
      }
  
      .social-icons {
        grid-gap: 20px;
        gap: 20px;
      }
    }
  }
  
  @media (min-width: 1681px) {
    .cart-complete__right {
      width: 623px;
  
      .form-wrap {
        padding: 60px;
      }
    }
  }
  
  .cart-complete__wrap-social strong {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 20px;
  }
  
  @media (min-width: 1365px) {
    .cart-complete__wrap-social strong {
      font-size: 28px;
    }
  }