@charset "UTF-8";
.bread-crumbs--about {
  margin-bottom: 25px;
}

@media (min-width: 1365px) {
  .bread-crumbs--about {
    margin-bottom: 40px;
  }
}
.about {
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  overflow: clip;
  contain: content;
}
.about h1 {
  margin-bottom: 20px;
}

@media (min-width: 1365px) {
  .about {
    font-size: 18px;
  }
}
.about__subtitle {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
}

@media (min-width: 1365px) {
  .about__subtitle {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.about__wrapper {
  max-width: 1620px;
  margin: 0 auto;
  padding: 50px var(--main-padding) 100px;
}

@media (min-width: 1365px) {
  .about__wrapper {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
.decor-up {
  position: relative;
  padding-top: 20px;
}
.decor-up:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 80px;
  height: 4px;
  background-color: #5f3ec0;
}

@media (min-width: 1365px) {
  .decor-up:before {
    width: 150px;
    height: 6px;
  }
}
.about__company {
  --offset-top:79px;
  max-width: 1620px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .about__company {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: url(/images/m24.svg?0b121c118b610ad901cfcffb33c00158) 50%/contain no-repeat;
  }
}
@media (min-width: 1365px) {
  .about__company {
    min-height: calc(100vh - var(--header-height) - var(--offset-top));
    min-height: calc(var(--vh, 1vh)*100 - var(--header-height) - var(--offset-top));
    background: url(/images/m24.svg?0b121c118b610ad901cfcffb33c00158) 50%/1350px auto no-repeat;
  }
}
.about__company-cont {
  padding: 0 var(--main-padding);
  margin-bottom: 50px;
}
.about__company-cont p {
  line-height: 1.5;
}
.about__company-cont p:first-of-type {
  margin-bottom: 50px;
}

@media (min-width: 1365px) {
  .about__company-cont p:first-of-type {
    margin-bottom: 115px;
  }
}
@media (min-width: 1365px) {
  .about__company-cont {
    margin-bottom: 90px;
  }
}
.about__company-img {
  position: relative;
  padding-top: min(100%, 591px);
  overflow: hidden;
  background: url(/images/m24.svg?0b121c118b610ad901cfcffb33c00158) 50%/90% auto no-repeat;
}
.about__company-img img {
  position: absolute;
  top: 0;
  left: 50%;
  width: 685px;
  height: 591px;
  transform: translate(-50%);
  mix-blend-mode: multiply;
}

@media (min-width: 769px) {
  .about__company-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
@media (min-width: 1365px) {
  .about__company-img img {
    top: auto;
    bottom: 0;
  }
}
@media (min-width: 769px) {
  .about__company-img {
    padding-top: min(100%, 489px);
    background: none;
  }
}
@media (min-width: 1365px) {
  .about__company-img {
    padding-top: min(100%, 591px);
  }
}
.about__slogan {
  white-space: pre-line;
}

.about__boss {
  position: absolute;
  bottom: 15px;
  right: 0;
  display: grid;
  justify-items: end;
  color: #fff;
}

@media (min-width: 1365px) {
  .about__boss {
    right: 150px;
    justify-items: start;
    grid-row-gap: 10px;
    row-gap: 10px;
  }
}
.about__boss-name {
  padding: 12px 20px;
  background-color: #00c8af;
  font-weight: 700;
  font-size: 16px;
}

@media (min-width: 1365px) {
  .about__boss-name {
    padding: 15px 20px;
    font-size: 24px;
  }
}
.about__boss-status {
  padding: 10px 20px;
  background-color: #5f3ec0;
  font-weight: 500;
  font-size: 12px;
}

@media (min-width: 1365px) {
  .about__boss-status {
    padding: 13px 20px;
    font-size: 20px;
  }
}
.about__slider-container {
  position: relative;
  background-color: #f9f9f9;
}
.about__slider-container .slider-pagination {
  position: absolute;
  bottom: 65px;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 1365px) {
  .about__slider-container .slider-pagination {
    display: none;
  }
}
@media (min-width: 1365px) {
  .about__slider-container {
    display: grid;
    grid-row-gap: 120px;
    row-gap: 120px;
    padding: 150px 0;
  }
}
.about__slider-wrapper {
  display: flex;
}

@media (min-width: 1365px) {
  .about__slider-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 var(--main-padding);
  }
}
.about__slider-slide {
  width: 100%;
  flex-shrink: 0;
  padding: 51px 0 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1365px) {
  .about__slider-slide {
    align-items: flex-start;
    padding: 0;
  }
}
.about__slider-title {
  margin-bottom: 10px;
  font-size: 56px;
  font-weight: 700;
  color: #121212;
}

@media (min-width: 1365px) {
  .about__slider-title {
    margin-bottom: 40px;
    font-size: 90px;
  }
}
.about__slider-subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  color: #121212;
  line-height: 1.3;
  text-align: center;
}
.about__slider-subtitle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

@media (min-width: 1365px) {
  .about__slider-subtitle:before {
    left: 0;
    transform: none;
  }
}
@media (min-width: 1365px) {
  .about__slider-subtitle {
    padding-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: left;
  }
}
.about__slider-text {
  font-weight: 500;
}

@media (min-width: 1365px) {
  .about__slider-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
  }
}
.about__slider-cont {
  display: none;
}

@media (min-width: 1365px) {
  .about__slider-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    max-width: 1620px;
    margin: 0 auto;
    padding: 0 var(--main-padding);
    color: #121212;
  }
  .about__slider-cont > div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    align-content: start;
  }
}
.about__slider-cont-title {
  grid-row: 1/3;
  font-weight: 700;
  font-size: 75px;
}

.about__slider-cont-subtitle {
  padding-top: 8px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
}

.about__slider-cont-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.about__text-block h2 {
  margin-bottom: 15px;
}
.about__text-block p {
  line-height: 1.5;
}
.about__text-block p + p {
  margin-top: 30px;
}

@media (min-width: 1365px) {
  .about__text-block h2 {
    margin-bottom: 40px;
  }
  .about__text-block p + p {
    margin-top: 40px;
  }
}
.about__start {
  display: grid;
  grid-row-gap: 50px;
  row-gap: 50px;
}

@media (min-width: 769px) {
  .about__start {
    grid-template-columns: 1fr min(50%, 450px);
    align-items: center;
    grid-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 1365px) {
  .about__start {
    grid-template-columns: min(50%, 720px) min(50%, 565px);
    justify-content: space-between;
  }
}
.about__bg-apple {
  margin: 0 15px;
  padding-top: 82.86%;
  background: -webkit-image-set(url(/images/mac.webp?c996f963cd3ede4fe1acc46d3bbe4ec7) 1x, url(/images/mac.png?e515d1adc0db95344b3adf2c19b5afdd) 1x, url(/images/mac@2x.webp?545e4be3eeece7d988f5b6cc67dc4ab5) 2x, url(/images/mac@2x.png?39194c40d9a49a2eb054239394760019) 2x) 50%/contain no-repeat;
  background: -webkit-image-set(url(/images/mac.webp?c996f963cd3ede4fe1acc46d3bbe4ec7) 1x, url(/images/mac.png?e515d1adc0db95344b3adf2c19b5afdd) 1x, url(/images/mac@2x.webp?545e4be3eeece7d988f5b6cc67dc4ab5) 2x, url(/images/mac@2x.png?39194c40d9a49a2eb054239394760019) 2x) 50%/contain no-repeat;
  background: image-set("/images/mac.webp?c996f963cd3ede4fe1acc46d3bbe4ec7" 1x, "/images/mac.png?e515d1adc0db95344b3adf2c19b5afdd" 1x, "/images/mac@2x.webp?545e4be3eeece7d988f5b6cc67dc4ab5" 2x, "/images/mac@2x.png?39194c40d9a49a2eb054239394760019" 2x) 50%/contain no-repeat;
}

@media (min-width: 769px) {
  .about__bg-apple {
    margin: 0;
  }
}
.about__tv {
  background-color: #f9f9f9;
}

.about__tv-wrap {
  display: grid;
  grid-row-gap: 50px;
  row-gap: 50px;
}

@media (min-width: 769px) {
  .about__tv-wrap {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 39px;
    -moz-column-gap: 39px;
    column-gap: 39px;
  }
}
@media (min-width: 1365px) {
  .about__tv-wrap {
    grid-template-columns: 1fr 1.3fr;
    grid-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
  }
}
@media (min-width: 1365px) {
  .about__diagram {
    order: -1;
  }
}
.about__diagram-graph {
  --purple-value:calc(360deg*var(--purple));
  --green-value:calc(360deg*var(--green));
  --black-value:calc(360deg*var(--black));
  --green-angle:calc(var(--purple-value) + var(--green-value));
  --black-angle:calc(var(--green-angle) + var(--black-value));
  position: relative;
  display: grid;
  width: 250px;
  height: 250px;
  margin: 0 auto 40px;
  padding: 20px;
  border-radius: 50%;
  background: conic-gradient(#5f3ec0 var(--purple-value), #00c8af var(--purple-value) var(--green-angle), #121212 var(--green-angle) var(--black-angle), #b4b4b4 0);
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0.1s, 0.9s, 1.7s;
  animation-delay: 0.1s, 0.9s, 1.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
.about__diagram-graph:after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(data-year);
  font-size: 36px;
  font-weight: 700;
  color: #121212;
  background-color: #f9f9f9;
  border-radius: 50%;
}

@media (min-width: 1365px) {
  .about__diagram-graph:after {
    font-size: 75px;
  }
}
@media (min-width: 1365px) {
  .about__diagram-graph {
    width: 350px;
    height: 350px;
    margin-bottom: 55px;
    padding: 26px;
  }
}
@property --purple-value {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --green-value {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@property --black-value {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@-webkit-keyframes purple {
  to {
    --purple-value:180deg;
  }
}
@keyframes purple {
  to {
    --purple-value:180deg;
  }
}
@-webkit-keyframes green {
  to {
    --green-value:calc(360deg*var(--green));
  }
}
@keyframes green {
  to {
    --green-value:calc(360deg*var(--green));
  }
}
@-webkit-keyframes black {
  to {
    --black-value:calc(360deg*var(--black));
  }
}
@keyframes black {
  to {
    --black-value:calc(360deg*var(--black));
  }
}
.about__diagram-product {
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  grid-row-gap: 14px;
  row-gap: 14px;
  margin: 0 auto;
}
.about__diagram-product li {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.about__diagram-product li:before {
  content: "";
  width: 34px;
  height: 18px;
  margin-right: 10px;
  flex-shrink: 0;
  background-color: #b4b4b4;
}
.about__diagram-product li:first-child:before {
  background-color: #5f3ec0;
}
.about__diagram-product li:nth-child(2):before {
  background-color: #00c8af;
}
.about__diagram-product li:nth-child(3):before {
  background-color: #121212;
}

@media (min-width: 1365px) {
  .about__diagram-product {
    grid-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;
  }
}
@media (min-width: 1365px) {
  .about__diagram-product li:before {
    width: 50px;
    height: 25px;
  }
}
@media (min-width: 1365px) {
  .about__diagram-product {
    grid-row-gap: 20px;
    row-gap: 20px;
  }
}
.about__team {
  display: grid;
  max-width: none;
  grid-row-gap: 50px;
  row-gap: 50px;
}

@media (min-width: 769px) {
  .about__team {
    align-items: center;
    grid-template-columns: min(40%, 640px) 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (min-width: 1365px) {
  .about__team {
    grid-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    padding-right: 0;
    display: flex;
  }
}
.about__team-cont {
  display: grid;
}
.about__team-cont .about__text-block {
  grid-area: 1/2/1/2;
  z-index: 0;
  background-color: #fff;
}

@media (min-width: 1365px) {
  .about__team-cont {
    margin-left: max(1px, calc(50vw - 855px));
    max-width: 640px;
    margin-right: 130px;
  }
}
.about__team-user {
  transition: visibility 0.3s, opacity 0.3s;
}
.about__team-user blockquote {
  position: relative;
  margin: 0;
  padding-left: 40px;
}
.about__team-user blockquote:before {
  content: "â€";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 70px;
}
.about__team-user.hidden {
  visibility: hidden;
  opacity: 0;
}

.about__avatars {
  --avatar-size:100px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, fit-content(var(--avatar-size)));
  grid-auto-rows: fit-content(var(--avatar-size));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  grid-gap: 20px;
  gap: 20px;
  margin: 0 auto;
}
.about__avatars:focus img, .about__avatars:hover img {
  filter: grayscale(1);
}
.about__avatars img {
  border-radius: 50%;
  transition: filter 0.3s;
}
.about__avatars img:focus, .about__avatars img:hover {
  filter: grayscale(0);
}

@media (min-width: 1365px) {
  .about__avatars {
    --avatar-size:200px;
    min-width: 530px;
    flex-grow: 1;
    grid-gap: 60px;
    gap: 60px;
    padding: 60px var(--main-padding) 60px 60px;
    margin: 0 auto 0 0;
    background-color: rgba(180, 180, 180, 0.25);
    border-radius: 40px 0 0 40px;
  }
}
.about__review-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 72px;
  color: #121212;
}

@media (min-width: 1365px) {
  .about__review-title {
    font-size: 250px;
    margin-bottom: 30px;
  }
}
.about__review {
  max-width: 1530px;
  margin: 0 auto;
  display: grid;
  padding-bottom: 50px;
}
.about__review > div {
  display: flex;
  flex-direction: column;
}
.about__review b {
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;
}
.about__review p {
  margin-bottom: 20px;
  line-height: 1.5;
}
.about__review a {
  font-weight: 500;
  line-height: 1.5;
  color: #5f3ec0;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.about__review a:focus, .about__review a:hover {
  opacity: 1;
}

@media (min-width: 1365px) {
  .about__review b {
    font-size: 30px;
    line-height: 1.5;
  }
}
@media (min-width: 1365px) {
  .about__review {
    display: grid;
    grid-template-columns: 420px 720px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
  }
}
@media (min-width: 769px) {
  .about__review-wrap {
    background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#yt-bg) 330px/975px 172px no-repeat;
  }
}
@media (min-width: 1365px) {
  .about__review-wrap {
    background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#yt-bg) 500px/2000px auto no-repeat;
  }
}
.about__delivery {
  display: grid;
  background-color: #f9f9f9;
}

@media (min-width: 1365px) {
  .about__delivery {
    padding-left: var(--main-padding);
    display: flex;
  }
}
.about__delivery-address {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about__delivery-address h2 {
  margin-bottom: 34px;
}
.about__delivery-address svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-right: 10px;
}
.about__delivery-address p {
  display: flex;
  line-height: 1.5;
}

@media (min-width: 769px) {
  .about__delivery-address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
  .about__delivery-address h2 {
    grid-column: 1/-1;
  }
  .about__delivery-address p + p {
    margin: 0;
  }
}
@media (min-width: 1365px) {
  .about__delivery-address {
    padding: 150px 0;
    grid-template-columns: 1fr;
    align-content: center;
    margin-left: max(1px, calc(50vw - 855px));
    max-width: 600px;
  }
  .about__delivery-address h2 {
    margin-bottom: 100px;
  }
  .about__delivery-address p + p {
    margin-top: 58px;
  }
}
@media (min-width: 1681px) {
  .about__delivery-address {
    flex-shrink: 0;
  }
}
.about__map {
  height: 244px;
  margin: 0 auto;
  width: 100%;
  max-width: 625px;
  background: url(/images/map.png?5450be1e376c727a8463ea450051716a) 25px 0/600px 244px no-repeat;
}

@media (min-width: 1365px) {
  .about__map {
    height: 962px;
    max-width: none;
    margin-left: 40px;
    background: url(/images/map-big.svg?6408ad88d78e322af1f6105b6af2e6d6) 0/1766px auto no-repeat;
  }
}
