.sort-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  border: none;
  font-weight: 400;
  color: #b4b4b4;
}
.sort-fieldset label + label {
  margin-top: 24px;
}
.sort-fieldset legend {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 20px;
  color: #303030;
}

.custom-checkbox, .custom-radio {
  position: relative;
  display: grid;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding: 2px;
  border: 1px solid;
  transition: border-color 0.3s;
}

.custom-checkbox:before {
  content: "";
  transform: scale(0);
  background-color: #5f3ec0;
  transition: transform 0.3s;
}

.custom-radio {
  border-radius: 50%;
}
.custom-radio:before {
  content: "";
  transform: scale(0);
  background-color: #5f3ec0;
  transition: transform 0.3s;
  border-radius: 50%;
}

.custom-checkbox {
  border-radius: 3px;
  color: #b4b4b4;
}

.sort-fieldset-checkbox, .sort-fieldset-radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}

.sort-fieldset-checkbox .custom-checkbox, .sort-fieldset-checkbox .custom-radio {
  margin-right: 11px;
}

.sort-fieldset-radio .custom-checkbox, .sort-fieldset-radio .custom-radio {
  margin-right: 11px;
}

.sort-fieldset-checkbox input:checked ~ span, .sort-fieldset-radio input:checked ~ span {
  color: #121212;
}

.sort-fieldset-checkbox input:checked + span, .sort-fieldset-radio input:checked + span {
  color: #5f3ec0;
}

.sort-fieldset-checkbox input:checked + span:before, .sort-fieldset-radio input:checked + span:before {
  transform: scale(1);
}

.sort-view {
  display: none;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

@media (min-width: 1365px) {
  .sort-view {
    display: grid;
  }
}
.btn-view {
  padding: 0;
  color: #b4b4b4;
  cursor: pointer;
}
.btn-view svg {
  width: 26px;
  height: 22px;
  transition: color 0.3s;
}
.btn-view.active svg {
  color: #5f3ec0;
}

.product-card-container {
  padding-left: var(--main-padding);
}
.product-card-container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 180px;
  pointer-events: none;
  z-index: 1;
}
.product-card-container:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 180px;
  pointer-events: none;
  z-index: 1;
  left: 0;
  background: linear-gradient(90deg, #fff 15%, rgba(255, 255, 255, 0.93) 21%, rgba(255, 255, 255, 0) 75%);
}
.product-card-container .swiper-slide {
  --slide-gap:20px;
  padding-right: var(--slide-gap);
  transition: opacity 0.3s;
}
.product-card-container .swiper-slide:last-child {
  padding-right: var(--main-padding);
}
.product-card-container .swiper-slide--full {
  --slide-gap:15px;
}
.product-card-container .swiper-slide-prev {
  opacity: 0;
}

@media (min-width: 1365px) {
  .product-card-container:after {
    content: "";
    right: 0;
    background: linear-gradient(270deg, #fff 15%, rgba(255, 255, 255, 0.93) 21%, rgba(255, 255, 255, 0) 75%);
  }
}
@media (min-width: 769px) {
  .product-card-container .swiper-slide {
    --slide-gap:30px;
  }
}
@media (min-width: 1365px) {
  .product-card-container .swiper-slide {
    --slide-gap:60px;
  }
  .product-card-container .swiper-slide:last-child {
    padding-right: var(--slide-gap);
  }
}
@media (min-width: 769px) {
  .product-card-container .swiper-slide--full {
    --slide-gap:25px;
  }
}
@media (min-width: 1365px) {
  .product-card-container .swiper-slide--full {
    --slide-gap:30px;
  }
  .product-card-container .swiper-slide--full:last-child {
    padding-right: 60px;
  }
}
.shadow-disable:before {
  content: "";
}

.product-card-list {
  display: flex;
  width: 100%;
}

.product-card-wrap {
  display: grid;
}

.product-card {
  --bonus-size:30px;
  --font-size-discount:8px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 180px;
  flex-shrink: 0;
  padding: 27px 0 1px;
}

.product-card--m-icon {
  --bonus-size:50px;
  --font-size-discount:15px;
}

@media (min-width: 1365px) {
  .product-card {
    --bonus-size:70px;
    --font-size-discount:18px;
    width: 309px;
    padding: 66px 0 1px;
  }

  .product-card--sm-icon {
    --bonus-size:50px;
    --font-size-discount:15px;
  }
}
.product-card--full {
  width: var(--column-width-sm);
}

.product-card__bonuses {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 5px;
  row-gap: 5px;
  z-index: 2;
}

@media (min-width: 1365px) {
  .product-card__bonuses {
    grid-row-gap: 10px;
    row-gap: 10px;
  }
}
.bonus-icon {
  position: relative;
  display: grid;
  width: var(--bonus-size);
  height: var(--bonus-size);
}
.bonus-icon > img, .bonus-icon > span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}
.bonus-icon:hover .tooltip-bonus {
  visibility: visible;
  opacity: 1;
}

.bonus-discount {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  font-weight: 700;
  font-size: var(--font-size-discount);
  color: #fff;
  background-color: #d7364f;
  order: 2;
}

.priority-0 {
  order: 0;
}

.priority-1 {
  order: 1;
}

.priority-2 {
  order: 2;
}

.priority-3 {
  order: 3;
}

.priority-4 {
  order: 4;
}

.priority-5 {
  order: 5;
}

.product-card__icon {
  padding: 0;
  cursor: pointer;
  display: grid;
  align-content: center;
}
.product-card__icon svg {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  fill: none;
  color: #b4b4b4;
  transition: fill 0.3s, color 0.3s;
}
.product-card__icon.checked svg {
  fill: #5f3ec0;
  color: #5f3ec0;
}

@media (min-width: 1365px) {
  .product-card__icon svg {
    width: 26px;
    height: 26px;
  }
}
.icon-type-delete.checked svg, .icon-type-delete:active svg {
  fill: #d7364f;
  color: #d7364f;
}

.product-card__icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 2;
}

.product-card__icons--big svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 1365px) {
  .product-card__icons--big svg {
    width: 32px;
    height: 32px;
  }
}
.product-card__img {
  position: relative;
  width: 100%;
  height: 108px;
  margin-bottom: 10px;
}

@media (min-width: 1365px) {
  .product-card__img {
    height: 210px;
  }
}
[data-empty]:before {
  content: attr(data-empty);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 700;
  font-size: 10px;
  color: #b4b4b4;
  background: url(/images/camera.svg?458c88600ae5a05f664193a896585c94) 50%/80px 80px no-repeat;
}

@media (min-width: 1365px) {
  [data-empty]:before {
    padding: 0 0 20px;
    font-size: 16px;
  }
}
.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product-card__info .product-card-desc {
  margin-bottom: 10px;
}

.product-card__name {
  margin-bottom: 7px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  color: #b4b4b4;
}

@media (min-width: 1365px) {
  .product-card__name {
    font-size: 14px;
  }
}
.product-card__old-price {
  margin-bottom: 5px;
  font-size: 10px;
  color: #b4b4b4;
}

@media (min-width: 1365px) {
  .product-card__old-price {
    font-size: 16px;
  }
}
.product-card__price {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 1365px) {
  .product-card__price {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.product-card__buy-wrap {
  display: flex;
  align-items: stretch;
  margin-top: auto;
}

.product-card__buy {
  padding: 9px 5px;
  flex-grow: 1;
  font-size: 10px;
  border: 1px solid #5f3ec0;
}

@media (min-width: 400px) {
  .product-card__buy {
    padding: 9px;
  }
}
@media (min-width: 1365px) {
  .product-card__buy {
    min-height: 50px;
    font-size: 14px;
  }
}
.product-card__cart {
  position: relative;
  display: grid;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-items: center;
  place-items: center;
  flex-shrink: 0;
  padding: 0;
  margin-left: 15px;
  border-radius: 6px;
  background-color: #5f3ec0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product-card__cart .counter {
  position: absolute;
  top: 0;
  right: 0;
}
.product-card__cart .counter:after {
  top: -5px;
  right: -5px;
}
.product-card__cart .counter span {
  display: none;
}
.product-card__cart svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}
.product-card__cart:focus, .product-card__cart:hover {
  background-color: #2a0d80;
}

@media (min-width: 1365px) {
  .product-card__cart {
    width: 50px;
    height: 50px;
  }
  .product-card__cart svg {
    fill: #fff;
    width: 32px;
    height: 32px;
  }
}
.product-card__assets {
  display: flex;
  align-items: flex-end;
  min-height: 28px;
  margin-bottom: 28px;
}

@media (min-width: 1365px) {
  .product-card__assets {
    margin-bottom: 15px;
    min-height: 42px;
  }
}
.product-type {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 0;
  background-color: #fff;
}
.product-type h2 {
  font-size: 24px;
  font-weight: 500;
}

@media (min-width: 769px) {
  .product-type {
    padding: 25px 0;
  }
}
@media (min-width: 1365px) {
  .product-type {
    margin-bottom: 50px;
    padding: 30px 0 45px;
  }
}
@media (min-width: 1365px) {
  .product-type h2 {
    font-size: 40px;
  }
}
.product-type__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding: 0 var(--main-padding);
}

@media (min-width: 1365px) {
  .product-type__header {
    margin-bottom: 40px;
  }
}
.product-type__link {
  color: #b4b4b4;
  text-transform: uppercase;
  font-size: 0;
  padding-right: 24px;
  margin-right: 5px;
}

@media (min-width: 1365px) {
  .product-type__link {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
}
.order-element {
  display: grid;
  grid-template-rows: 120px 1fr;
  justify-items: center;
  grid-row-gap: 25px;
  row-gap: 25px;
}

.order-element--fast {
  margin-top: 50px;
}

@media (min-width: 1365px) {
  .order-element {
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (min-width: 1365px) {
  .order-element__wrap-img img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.order-element__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1365px) {
  .order-element__info {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .order-element__info > * {
    width: 100%;
  }
}
.order-element__vendor {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #b4b4b4;
}

.order-element__desc {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 120%;
}

.order-element__prices {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1365px) {
  .order-element__prices {
    width: auto;
    margin-right: 24px;
  }
}
.order-element__price {
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
}

.order-element__old-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #b4b4b4;
}

.order-element-count {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1365px) {
  .order-element-count {
    width: auto;
  }
}
.order-element__btn {
  display: grid;
  width: 32px;
  height: 32px;
  padding: 0 0 3px;
  align-items: center;
  justify-items: center;
  place-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 15px;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
}

.order-element__total {
  min-width: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #5f3ec0;
  text-align: center;
}

.article-el {
  background-color: #fff;
}

.article-el__img {
  position: relative;
  display: block;
  padding-top: 72.46%;
  margin-bottom: 10px;
}
.article-el__img img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #b4b4b4;
}

@media (min-width: 1365px) {
  .article-el__img {
    padding-top: 100%;
  }
}
.text-limiter {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-limiter:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 20%, #fff);
}

.article-el__body {
  display: flex;
  flex-direction: column;
  padding: 0 15px 20px;
}
.article-el__body h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
.article-el__body > time {
  margin-bottom: 30px;
  color: #b4b4b4;
}
.article-el__body > p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}
.article-el__body > a {
  color: #121212;
}

@media (min-width: 1365px) {
  .article-el__body h3 {
    font-size: 22px;
  }
}
@media (min-width: 1365px) {
  .article-el__body > p {
    font-size: 16px;
  }
}
.article-el__mark {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  line-height: 1;
}
.article-el__mark.has-video {
  padding-right: 37px;
  background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#youtube) 100% 50%/25px 19px no-repeat;
}
.article-el__mark span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 7px 15px;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
}

.article-el__mark-video {
  display: none;
}

.article-el__mark-crush {
  background-color: #5f3ec0;
}

.article-el__mark-review {
  background-color: #8a6ee0;
}

.article-el__mark-compare {
  background-color: #00c8af;
}

.article-el__mark-unpack {
  background-color: #5fa8a0;
}

.catalog {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
  padding-top: 25px;
  background-color: #fff;
}
.catalog .subtitle {
  margin-bottom: 25px;
}
.catalog .product-card-container {
  padding-left: 0;
}
.catalog .catalog__product-rating {
  display: none;
}
.catalog .catalog__wrap-price, .catalog .catalog__wrap-title {
  display: flex;
  flex-direction: column;
}
.catalog .product-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(165px, 100%), 1fr));
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  grid-row-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}
.catalog .product-card-wrap {
  padding-right: 0;
}
.catalog .product-card {
  width: auto;
}
.catalog .product-card__icon--share {
  display: none;
}
.catalog .product-card__icons {
  position: absolute;
}
.catalog .product-card__icons span {
  display: none;
}

@media (min-width: 1365px) {
  .catalog {
    padding-top: 40px;
  }
}
@media (min-width: 1365px) {
  .catalog .product-card-list {
    grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
    grid-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    grid-row-gap: 75px;
    row-gap: 75px;
  }
}
.catalog--stock {
  padding-top: 15px;
}

@media (min-width: 769px) {
  .catalog--stock {
    padding-top: 25px;
  }
}
@media (min-width: 1365px) {
  .catalog--stock {
    padding-top: 30px;
  }
}
.product-card__icon span {
  display: none;
}

.product-card-list.view-column {
  grid-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  grid-template-columns: minmax(0, 1fr);
}
.product-card-list.view-column .product-card {
  flex-direction: row;
  padding: 10px 0 0;
}
.product-card-list.view-column .product-card__icons {
  position: static;
  margin-right: auto;
  color: #303030;
}
.product-card-list.view-column .product-card__icons > :not(:first-child) {
  margin-left: 5px;
}
.product-card-list.view-column .product-card-desc {
  line-height: 1.4;
  margin-bottom: 0;
}
.product-card-list.view-column .catalog__product-rating {
  display: flex;
  align-items: center;
  color: #b4b4b4;
  font-weight: 400;
  font-size: 10px;
}
.product-card-list.view-column .catalog__product-rating .star-rating {
  width: 60px;
  margin-right: 5px;
}
.product-card-list.view-column .product-card__bonuses {
  left: auto;
  right: 0;
  grid-auto-flow: column;
  grid-auto-columns: var(--bonus-size);
  grid-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.product-card-list.view-column .product-card__img {
  flex-shrink: 0;
  width: 85px;
  margin-bottom: 0;
  margin-right: 10px;
}
.product-card-list.view-column .content-img {
  -o-object-fit: cover;
  object-fit: cover;
}
.product-card-list.view-column .catalog__wrap-cont {
  display: grid;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  grid-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin-bottom: 15px;
}
.product-card-list.view-column .product-card__buy-wrap {
  align-items: flex-end;
}
.product-card-list.view-column .product-card__buy {
  flex-grow: 0;
}
.product-card-list.view-column .catalog__wrap-price {
  align-self: end;
  justify-self: end;
}
.product-card-list.view-column .product-card__cart {
  margin-left: 5px;
}
.product-card-list.view-column .product-card__icon svg, .product-card-list.view-column .product-card__price {
  margin: 0;
}

@media (min-width: 500px) {
  .product-card-list.view-column {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column {
    grid-template-columns: minmax(0, 1470px);
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__icons > :not(:first-child) {
    margin-left: 20px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .catalog__product-rating {
    margin-top: 15px;
    font-size: 14px;
  }
  .product-card-list.view-column .catalog__product-rating .star-rating {
    width: 95px;
    margin-right: 10px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__bonuses {
    grid-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__img {
    width: 160px;
    margin-right: 20px;
  }
}
@media (min-width: 1440px) {
  .product-card-list.view-column .product-card__img {
    width: 223px;
  }
}
@media (min-width: 400px) {
  .product-card-list.view-column .catalog__wrap-cont {
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .catalog__wrap-cont {
    grid-template-columns: 1.1fr -webkit-max-content 0.8fr;
    grid-template-columns: 1.1fr max-content 0.8fr;
    grid-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media (min-width: 1681px) {
  .product-card-list.view-column .catalog__wrap-cont {
    grid-column-gap: 25px;
    -moz-column-gap: 25px;
    column-gap: 25px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__buy {
    min-width: 175px;
    margin-left: 15px;
    order: 3;
    color: #5f3ec0;
    border-color: #5f3ec0;
  }
  .product-card-list.view-column .product-card__buy:focus, .product-card-list.view-column .product-card__buy:hover {
    background-color: #5f3ec0;
    color: #fff;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__cart {
    width: auto;
    min-width: 175px;
    color: #fff;
    border: 1px solid #5f3ec0;
  }
  .product-card-list.view-column .product-card__cart svg {
    display: none;
  }
  .product-card-list.view-column .product-card__cart:focus, .product-card-list.view-column .product-card__cart:hover {
    background-color: #2a0d80;
    color: #fff;
  }
}
@media (min-width: 350px) {
  .product-card-list.view-column .product-card__icon--share {
    display: block;
  }
  .product-card-list.view-column .product-card__cart {
    margin-left: 15px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__icon {
    display: flex;
    align-items: flex-end;
  }
  .product-card-list.view-column .product-card__icon span {
    display: inline;
    padding-left: 5px;
    font-size: 12px;
  }
  .product-card-list.view-column .product-card__icon svg {
    color: #303030;
  }
  .product-card-list.view-column .product-card__icon.checked svg {
    color: #5f3ec0;
  }
}
@media (min-width: 1500px) {
  .product-card-list.view-column .product-card__icon span {
    display: inline;
    font-size: 16px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .catalog__product-features {
    display: grid;
    grid-template-columns: 175px -webkit-max-content;
    grid-template-columns: 175px max-content;
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-row-gap: 16px;
    row-gap: 16px;
    padding-top: 29px;
  }
  .product-card-list.view-column .catalog__product-features dt {
    font-weight: 400;
    opacity: 0.8;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__old-price {
    text-align: right;
    font-size: 24px;
  }
}
@media (min-width: 1365px) {
  .product-card-list.view-column .product-card__price {
    font-size: 36px;
    text-align: right;
  }
}
.catalog__tags-container {
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

@media (min-width: 1365px) {
  .catalog__tags-container {
    max-width: 1260px;
    margin-bottom: 70px;
  }
}
.catalog__tags-wrapper {
  width: 100%;
  display: flex;
}

@media (min-width: 1365px) {
  .catalog__tags-wrapper {
    flex-wrap: wrap;
  }
}
.catalog__tag-item {
  flex-shrink: 0;
  font-weight: 400;
  color: rgba(18, 18, 18, 0.6);
}
.catalog__tag-item:not(:last-child) {
  padding-right: 10px;
}
.catalog__tag-item span {
  display: block;
  padding: 7px 15px;
  border: 1px solid #5f3ec0;
  border-radius: 4px;
  transition: color 0.3s, background-color 0.3s;
}
.catalog__tag-item input:checked + span {
  background-color: #5f3ec0;
  color: #fff;
}

@media (min-width: 1365px) {
  .catalog__tag-item {
    margin-bottom: 10px;
    cursor: pointer;
  }
}
.filter-shadow .catalog__mobile-actions {
  border-top: 1px solid rgba(180, 180, 180, 0.2);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.catalog__mobile-actions {
  position: sticky;
  top: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px var(--main-padding);
  margin: 8px 0 23px;
  background: #fff;
  z-index: 10;
}

@media (min-width: 1365px) {
  .catalog__mobile-actions {
    display: none;
  }
}
.catalog__filter-btn-mob {
  display: flex;
  align-items: center;
  padding: 0;
}
.catalog__filter-btn-mob svg {
  margin-right: 5px;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
}
.catalog__filter-btn-mob[data-count]:after {
  right: -15px;
}

.catalog__sort-btn-mob {
  padding-right: 15px;
  margin-right: 3px;
}
.catalog__sort-btn-mob:before {
  width: 8px;
  height: 8px;
}

.catalog__body {
  position: relative;
}

@media (min-width: 1365px) {
  .catalog__body {
    display: grid;
    grid-template-columns: 300px minmax(0, 1fr);
  }
}
.catalog__review {
  display: none;
}
.catalog__review .product-type__header {
  padding-left: 0;
}

@media (min-width: 1365px) {
  .catalog__review {
    display: block;
    margin-bottom: 70px;
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }
}
@media (min-width: 1365px) {
  .view-column .add-to-cart--catalog .counter {
    position: relative;
  }
  .view-column .add-to-cart--catalog .counter span {
    display: inline;
  }
  .view-column .add-to-cart--catalog .counter:after {
    top: -5px;
    right: -17px;
  }
}
.catalog__review-container {
  width: 100%;
}
.catalog__review-container:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 180px;
  background: linear-gradient(270deg, #fff 6.9%, rgba(255, 255, 255, 0.927083) 21.1%, rgba(255, 255, 255, 0) 75.22%);
  pointer-events: none;
}
.catalog__review-container .btn-slider {
  top: 35%;
}

.shadow-disable:after {
  content: none;
}

.catalog__review-wrapper {
  display: flex;
}
.catalog__review-wrapper .article-el__img {
  margin-bottom: 20px;
  padding-top: 54.76%;
}
.catalog__review-wrapper .swiper-slide {
  width: 450px;
  flex-shrink: 0;
  padding-right: 30px;
}
.catalog__review-wrapper .text-limiter {
  -webkit-line-clamp: 2;
}
.catalog__review-wrapper .catalog__review-text {
  margin-bottom: 30px;
}

.filters-wrap {
  right: 100%;
  transition: right 0.3s, visibility 0.3s;
}
.filters-wrap.active {
  right: 0;
}

@media (min-width: 1365px) {
  .filters-wrap {
    position: static;
    visibility: visible;
    width: auto;
    height: auto;
    padding-bottom: 15px;
    overflow-y: visible;
    overflow-y: initial;
    z-index: 4;
    --main-padding:15px;
    padding-left: 30px;
  }
}
.shadows-header {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.shadows-footer {
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
}

.filters {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 74px;
  background-color: #fff;
  z-index: 10;
}

@media (min-width: 1365px) {
  .filters {
    position: static;
    padding-bottom: 0;
  }
}
.filters__caption {
  position: sticky;
  top: 0;
  padding: 17px var(--main-padding);
  font-weight: 700;
  font-size: 20px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  background-color: #fff;
  z-index: 5;
}

@media (min-width: 1365px) {
  .filters__caption {
    display: none;
  }
}
.filters__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 var(--main-padding) 12px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

@media (min-width: 1365px) {
  .filters__fieldset {
    padding: 0 var(--main-padding) 10px;
    border-bottom: none;
  }
}
.filters__title {
  display: flex;
  align-items: center;
  padding: 24px 0 12px 23px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}
.filters__title:before {
  right: auto;
  left: 0;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  transition: transform 0.5s;
}

@media (min-width: 1365px) {
  .filters__title {
    padding: 10px 0 10px 23px;
    font-size: 20px;
  }
  .filters__title:before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  .filters__title--price {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 12px;
  }
}
.filters__title-active:before {
  transform: translateY(-50%) rotate(-135deg);
}
.filters__title-active + .filters__list {
  max-height: 100vh;
}
.filters__title-active ~ .filters__load-items {
  height: 40px;
}

.filters__tooltip {
  position: relative;
  flex-shrink: 0;
}
.filters__tooltip svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  flex-shrink: 0;
  color: #b4b4b4;
}
.filters__tooltip:hover .tooltip-bonus {
  visibility: visible;
  opacity: 1;
  z-index: 99;
}

@media (max-width: 600px) {
  .filters__tooltip {
    position: static;
  }
  .filters__tooltip .tooltip-bonus {
    left: 0;
    top: 80%;
    padding: 30px 0 0;
    transform: none;
  }
  .filters__tooltip .tooltip-bonus__inner:after, .filters__tooltip .tooltip-bonus__inner:before {
    top: 10px;
    left: 45%;
  }
}
.filters__item {
  padding: 12px 0;
  font-size: 14px;
}

@media (min-width: 1365px) {
  .filters__item {
    padding: 7px 0;
    font-size: 16px;
  }
}
.color-indicator {
  display: flex;
  align-items: center;
}
.color-indicator:before {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color);
}

.filters__single {
  padding: 24px var(--main-padding);
  font-weight: 500;
  font-size: 18px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

@media (min-width: 1365px) {
  .filters__single {
    padding: 10px var(--main-padding);
    font-size: 20px;
    border-bottom: none;
  }
}
.filters__list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
  transition-timing-function: ease-out;
}

.filters__buttons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  padding: 15px;
  background-color: #fff;
}
.filters__buttons.hidden {
  display: none;
}

@media (min-width: 375px) {
  .filters__buttons {
    grid-template-columns: minmax(min(165px, 1vw), 165px) minmax(min(165px, 1vw), 165px);
  }
}
@media (min-width: 1365px) {
  .filters__buttons {
    position: static;
    box-shadow: none;
  }
}
.filters__btn-show {
  padding: 13px;
}
.filters__btn-show:after {
  content: "(" attr(data-count) ")";
}
.filters__btn-show[data-count="0"]:after, .filters__btn-show[data-count=""]:after {
  content: none;
}

@media (min-width: 1365px) {
  .filters__btn-show {
    display: none;
  }
}
.catalog__reset-all, .filters__reset {
  padding: 13px;
}

@media (min-width: 1365px) {
  .catalog__reset-all, .filters__reset {
    margin-right: auto;
    padding: 15px 0 15px 20px;
    font-weight: 400;
    background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#close) 0/14px 14px no-repeat;
    border: none;
    color: #b4b4b4;
    transition: color 0.3s;
  }

  .catalog__reset-all:focus, .catalog__reset-all:hover {
    background-color: transparent;
    color: #5f3ec0;
    opacity: 1;
  }

  .filters__reset:focus, .filters__reset:hover {
    background-color: transparent;
    color: #5f3ec0;
    opacity: 1;
  }

  .catalog__reset-all:active, .filters__reset:active {
    color: #000;
    opacity: 1;
  }
}
.catalog__reset-all {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: 0;
  flex-shrink: 0;
  padding: 0 0 0 20px;
  height: 32px;
}

.filters__btn-close {
  position: fixed;
  top: 8px;
  right: 10px;
  z-index: 10;
}

.filters__load-items {
  padding: 0;
  margin-right: auto;
  font-weight: 400;
  color: #b4b4b4;
  transition: height 0.3s;
  overflow: hidden;
}
.filters__load-items:active {
  color: #5f3ec0;
}

.show-all-filters + .filters__list .filters__load-items {
  display: none;
}

.catalog__main {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1365px) {
  .catalog__main {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1500px) {
  .catalog__main {
    padding-left: var(--main-padding);
    padding-right: var(--main-padding);
  }
}
.catalog__sort {
  padding-bottom: 10px;
  margin-bottom: 18px;
}

@media (min-width: 1365px) {
  .catalog__sort {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
  }
}
.catalog__sort-wrap {
  top: auto;
  left: 0;
  bottom: 100%;
}
.catalog__sort-wrap .modal-wrap {
  align-items: center;
  padding: 0;
}
.catalog__sort-wrap.active {
  transform: translate3d(0, 100%, 0);
}

@media (min-width: 1365px) {
  .catalog__sort-wrap {
    position: static;
    visibility: visible;
    width: auto;
    height: auto;
    overflow-y: visible;
    overflow-y: initial;
    z-index: 0;
  }
}
.catalog__sort-left {
  display: grid;
  width: 100%;
  max-width: 345px;
  padding: 30px 15px;
  grid-row-gap: 25px;
  row-gap: 25px;
  background-color: #fff;
}

@media (min-width: 1365px) {
  .catalog__sort-left {
    display: flex;
    width: auto;
    max-width: none;
    padding: 0;
    border: none;
    align-items: center;
  }
}
.catalog__sort-item {
  cursor: pointer;
  font-weight: 400;
}
.catalog__sort-item [for=price-high], .catalog__sort-item [id=price-high] {
  display: none;
}
.catalog__sort-item label {
  cursor: pointer;
  transition: color 0.3s;
}
.catalog__sort-item input:checked + label:after, .catalog__sort-item input:checked ~ label:after {
  box-shadow: inset 0 0 0 1px #5f3ec0, inset 0 0 0 3px #fff, inset 0 0 0 15px #5f3ec0;
}

@media (min-width: 1365px) {
  .catalog__sort-item:not(:first-of-type) {
    margin-left: 23px;
  }
}
@media (min-width: 1365px) {
  .catalog__sort-item [for=price-high], .catalog__sort-item [id=price-high] {
    display: block;
  }
}
@media (max-width: 1364px) {
  .catalog__sort-item label {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .catalog__sort-item label:after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #5f3ec0;
    box-shadow: inset 0 0 0 1px #b4b4b4, inset 0 0 0 20px #fff;
    transition: box-shadow 0.3s;
  }
}
@media (min-width: 1365px) {
  .catalog__sort-item input:checked + label, .catalog__sort-item input:checked ~ label {
    color: #5f3ec0;
  }
}
.catalog__sort-price {
  display: grid;
}
.catalog__sort-price label:before {
  content: none;
  width: 8px;
  height: 8px;
}

@media (min-width: 1365px) {
  .catalog__sort-price label {
    grid-area: 1/1/2/2;
    padding-right: 15px;
    cursor: pointer;
    z-index: 1;
  }
}
@media (min-width: 1365px) {
  [id=price-high]:checked ~ [for=price-high] {
    z-index: 0;
  }
  [id=price-high]:checked ~ [for=price-high]:before {
    content: "";
  }
  [id=price-high]:checked ~ [for=price-low] {
    color: #5f3ec0;
  }

  [id=price-low]:checked ~ [for=price-low] {
    z-index: 0;
  }
  [id=price-low]:checked ~ [for=price-low]:before {
    content: "";
  }
  [id=price-low]:checked ~ [for=price-high] {
    color: #5f3ec0;
  }
}
.catalog__sort-title {
  display: none;
  font-weight: 700;
  color: #000;
  margin-right: 30px;
}

@media (min-width: 1365px) {
  .catalog__sort-title {
    display: block;
  }
}
.catalog__sort-right {
  display: flex;
  justify-content: space-between;
}
.catalog__sort-right .sort-view {
  display: grid;
  align-content: center;
}

@media (min-width: 1365px) {
  .catalog__sort-right {
    flex-grow: 1;
    margin-left: 20px;
    max-width: 385px;
  }
}
@media (min-width: 1440px) {
  .catalog__sort-right {
    margin-left: 50px;
  }
}
.catalog__product-features {
  display: none;
}

.catalog__sort-video svg {
  margin-left: 7px;
  width: 20px;
  height: 16px;
  color: #d7364f;
}
.catalog__sort-video .custom-checkbox {
  color: #b4b4b4;
}

@media (min-width: 1365px) {
  .catalog__sort-video {
    margin-right: auto;
  }
}
.catalog__current-filter-wrap {
  position: relative;
  min-height: 43px;
  margin-bottom: 30px;
}

@media (min-width: 1365px) {
  .catalog__current-filter-wrap {
    padding-right: 121px;
  }
}
.current-filter-container {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
}
.current-filter-container::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1365px) {
  .current-filter-container {
    flex-wrap: wrap;
  }
  .current-filter-container .current-filter + .catalog__reset-all {
    display: block;
  }
}
.current-filter {
  display: flex;
  align-items: center;
  padding: 7px 15px;
  margin: 0 10px 10px 0;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #5f3ec0;
}

.current-filter-remove {
  position: relative;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#close) 50%/16px 16px no-repeat;
}
.current-filter-remove:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.catalog__card-counter {
  align-self: center;
  margin-bottom: 30px;
}

@media (min-width: 1365px) {
  .catalog__card-counter {
    display: none;
  }
}
.catalog__more {
  margin-bottom: 22px;
  padding: 17px;
  width: min(100%, 345px);
  align-self: center;
}

.catalog__pagination {
  margin-bottom: 30px;
}

.double-range {
  --thumb-size:1rem;
  --thumb-color:#5f3ec0;
  --track-color:#b4b4b4;
  --track-active-color:var(--thumb-color);
  display: block;
  max-width: 345px;
}
.double-range .double-range-inner {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  margin: 12px 0;
  padding: 0;
  border: none;
}
.double-range .range-wrap {
  position: relative;
  grid-column: 1/-1;
  height: 18px;
  margin: 25px 10px 0;
}
.double-range .track {
  --start-fill:20%;
  --end-fill:70%;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 0.25rem;
  background-color: var(--track-color);
  background-image: linear-gradient(90deg, transparent var(--start-fill), var(--track-active-color) var(--start-fill) var(--end-fill), transparent var(--start-fill));
  background-position: 2px 0;
  border-radius: 0.25rem;
  pointer-events: none;
}
.double-range output {
  display: flex;
  align-items: center;
  padding-left: 16px;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  height: 50px;
}
.double-range output:after {
  content: attr(data-value);
  margin-left: 15px;
}
.double-range .thumb {
  position: absolute;
  top: 0;
  bottom: 0;
  width: var(--thumb-size);
  height: var(--thumb-size);
  margin: auto;
  padding: 2px;
  border-radius: 50%;
  border: 1px solid var(--thumb-color);
  touch-action: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
  z-index: 2;
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 15px var(--thumb-color);
}
.double-range .thumb[focus-within], .double-range .thumb:focus-within {
  box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 15px var(--thumb-color);
}

@media (min-width: 1365px) {
  .double-range output:after {
    margin-left: 5px;
  }
}
main {
  background: #f9f9f9;
}
