.article {
  padding-top: 40px;
  padding-bottom: 50px;
}

@media (min-width: 1365px) {
  .article {
    display: grid;
    grid-template-columns: 1fr minmax(30%, 300px);
    padding-bottom: 180px;
    grid-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
  }

  .article--review {
    padding-bottom: 40px;
  }
}
.article-content {
  display: flex;
  flex-direction: column;
}
.article-content h1 {
  margin-bottom: 30px;
}
.article-content > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.article-content > p + p {
  margin-top: 30px;
}
.article-content .article__date {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.article-content .article__date time {
  font-weight: 400;
}

@media (min-width: 1365px) {
  .article-content > p {
    font-size: 18px;
  }
}
.article__product-info {
  font-weight: 400;
}

.article__date {
  margin-bottom: 10px;
}
.article__date time {
  font-weight: 400;
}

.article__media {
  margin: 30px 0;
}
.article__media p {
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}

@media (min-width: 1365px) {
  .article__media {
    margin: 40px 0;
  }
}
@media (min-width: 1365px) {
  .article__media p {
    font-size: 14px;
  }
}
.article__iframe {
  position: relative;
  padding-top: min(max(56.25%, 1px), 600px);
  margin-bottom: 10px;
}
.article__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #b4b4b4;
  border: none;
}

.article__shear-title {
  margin: 50px 0 15px;
  font-weight: 700;
  font-size: 20px;
}

@media (min-width: 1365px) {
  .article__shear-title {
    margin: 80px 0 20px;
    font-size: 24px;
  }
}
.article__shear-title--review {
  margin-top: 35px;
}

.article-aside {
  display: none;
}

@media (min-width: 1365px) {
  .article-aside {
    display: block;
    padding-top: 55px;
  }
}
.article-aside__inner {
  position: sticky;
  top: calc(var(--header-height) + 15px);
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
.article-aside__inner h2 {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

.article-aside__list {
  border: 1px solid #ebebeb;
}
.article-aside__list > a {
  padding: 30px;
}
.article-aside__list > a + a {
  border-top: 1px solid #ebebeb;
}

.article__navigation {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}

@media (min-width: 1365px) {
  .article__navigation {
    margin-top: 100px;
  }
}
.article__btn-nav:before {
  width: 8px;
  height: 8px;
}
.article__btn-nav.arrow--left {
  padding-left: 15px;
}
.article__btn-nav.arrow--right {
  padding-right: 15px;
}

@media (min-width: 1365px) {
  .article__btn-nav {
    font-size: 30px;
    transition: color 0.3s;
  }
  .article__btn-nav:focus, .article__btn-nav:hover {
    color: #5f3ec0;
  }
  .article__btn-nav:before {
    width: 14px;
    height: 14px;
    border-width: 2px;
  }
  .article__btn-nav.arrow--left:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 85px;
    height: 2px;
    transform: translateY(-50%);
    background-color: currentColor;
  }
  .article__btn-nav.arrow--right {
    padding-right: 115px;
  }
  .article__btn-nav.arrow--right:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 85px;
    height: 2px;
    transform: translateY(-50%);
    background-color: currentColor;
    right: 0;
  }
  .article__btn-nav.arrow--left {
    padding-left: 115px;
  }
  .article__btn-nav.arrow--left:after {
    left: 0;
  }
}
.article-el {
  background-color: #fff;
}

.article-el__img {
  position: relative;
  display: block;
  padding-top: 72.46%;
  margin-bottom: 10px;
}
.article-el__img img {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #b4b4b4;
}

@media (min-width: 1365px) {
  .article-el__img {
    padding-top: 100%;
  }
}
.text-limiter {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.text-limiter:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8) 20%, #fff);
}

.article-el__body {
  display: flex;
  flex-direction: column;
  padding: 0 15px 20px;
}
.article-el__body h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}
.article-el__body > time {
  margin-bottom: 30px;
  color: #b4b4b4;
}
.article-el__body > p {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
}
.article-el__body > a {
  color: #121212;
}

@media (min-width: 1365px) {
  .article-el__body h3 {
    font-size: 22px;
  }
}
@media (min-width: 1365px) {
  .article-el__body > p {
    font-size: 16px;
  }
}
.article-el__mark {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  line-height: 1;
}
.article-el__mark.has-video {
  padding-right: 37px;
  background: url(/images/css-sprite.svg?89a433e1d6cbb23520ab348e271dafb5#youtube) 100% 50%/25px 19px no-repeat;
}
.article-el__mark span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 7px 15px;
  font-weight: 400;
  border-radius: 4px;
  color: #fff;
}

.article-el__mark-video {
  display: none;
}

.article-el__mark-crush {
  background-color: #5f3ec0;
}

.article-el__mark-review {
  background-color: #8a6ee0;
}

.article-el__mark-compare {
  background-color: #00c8af;
}

.article-el__mark-unpack {
  background-color: #5fa8a0;
}

.sort-fieldset {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  border: none;
  font-weight: 400;
  color: #b4b4b4;
}
.sort-fieldset label + label {
  margin-top: 24px;
}
.sort-fieldset legend {
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 20px;
  color: #303030;
}

.custom-checkbox, .custom-radio {
  position: relative;
  display: grid;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  padding: 2px;
  border: 1px solid;
  transition: border-color 0.3s;
}

.custom-checkbox:before {
  content: "";
  transform: scale(0);
  background-color: #5f3ec0;
  transition: transform 0.3s;
}

.custom-radio {
  border-radius: 50%;
}
.custom-radio:before {
  content: "";
  transform: scale(0);
  background-color: #5f3ec0;
  transition: transform 0.3s;
  border-radius: 50%;
}

.custom-checkbox {
  border-radius: 3px;
  color: #b4b4b4;
}

.sort-fieldset-checkbox, .sort-fieldset-radio {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
}

.sort-fieldset-checkbox .custom-checkbox, .sort-fieldset-checkbox .custom-radio {
  margin-right: 11px;
}

.sort-fieldset-radio .custom-checkbox, .sort-fieldset-radio .custom-radio {
  margin-right: 11px;
}

.sort-fieldset-checkbox input:checked ~ span, .sort-fieldset-radio input:checked ~ span {
  color: #121212;
}

.sort-fieldset-checkbox input:checked + span, .sort-fieldset-radio input:checked + span {
  color: #5f3ec0;
}

.sort-fieldset-checkbox input:checked + span:before, .sort-fieldset-radio input:checked + span:before {
  transform: scale(1);
}

.sort-view {
  display: none;
  grid-auto-flow: column;
  grid-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

@media (min-width: 1365px) {
  .sort-view {
    display: grid;
  }
}
.btn-view {
  padding: 0;
  color: #b4b4b4;
  cursor: pointer;
}
.btn-view svg {
  width: 26px;
  height: 22px;
  transition: color 0.3s;
}
.btn-view.active svg {
  color: #5f3ec0;
}

.order-element {
  display: grid;
  grid-template-rows: 120px 1fr;
  justify-items: center;
  grid-row-gap: 25px;
  row-gap: 25px;
}

.order-element--fast {
  margin-top: 50px;
}

@media (min-width: 1365px) {
  .order-element {
    grid-template-columns: 120px 1fr;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
  }
}
@media (min-width: 1365px) {
  .order-element__wrap-img img {
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.order-element__info {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1365px) {
  .order-element__info {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .order-element__info > * {
    width: 100%;
  }
}
.order-element__vendor {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 14px;
  color: #b4b4b4;
}

.order-element__desc {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 120%;
}

.order-element__prices {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1365px) {
  .order-element__prices {
    width: auto;
    margin-right: 24px;
  }
}
.order-element__price {
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
}

.order-element__old-price {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #b4b4b4;
}

.order-element-count {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

@media (min-width: 1365px) {
  .order-element-count {
    width: auto;
  }
}
.order-element__btn {
  display: grid;
  width: 32px;
  height: 32px;
  padding: 0 0 3px;
  align-items: center;
  justify-items: center;
  place-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 15px;
  border-radius: 50%;
  border: 1px solid #b4b4b4;
}

.order-element__total {
  min-width: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #5f3ec0;
  text-align: center;
}

.news {
  padding-top: 25px;
}
.news h1 {
  margin-bottom: 20px;
  padding: 0 var(--main-padding);
  font-weight: 700;
}
.news fieldset {
  border: none;
}

@media (min-width: 1365px) {
  .news {
    padding-top: 40px;
  }
}
.news__body {
  margin-bottom: 30px;
  padding: 0 var(--main-padding);
}

@media (min-width: 1365px) {
  .news__body {
    display: grid;
    grid-template-columns: minmax(max(175px, min(13vw, 255px)), 175px) 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    margin-bottom: 140px;
  }
}
.news__sorting {
  display: none;
}
.news__sorting .sort-fieldset {
  color: #b4b4b4;
  margin-bottom: 30px;
}
.news__sorting .sort-fieldset legend {
  margin-bottom: 16px;
}
.news__sorting .sort-fieldset label + label {
  margin-top: 10px;
}

@media (min-width: 1365px) {
  .news__sorting {
    display: block;
  }
}
.news__category {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  align-items: center;
  margin-bottom: 30px;
}

@media (min-width: 1365px) {
  .news__category {
    grid-template-columns: minmax(0, 1fr) -webkit-min-content;
    grid-template-columns: minmax(0, 1fr) min-content;
    padding-right: var(--main-padding);
    margin-bottom: 60px;
  }
}
.news__category-slider {
  width: 100%;
  padding-left: var(--main-padding);
  padding-right: var(--main-padding);
}

.news__slider-wrapper {
  display: flex;
}

.news__category-item {
  display: grid;
  flex-shrink: 0;
  cursor: pointer;
}
.news__category-item:not(:last-child) {
  padding-right: 10px;
}
.news__category-item span {
  padding: 7px 15px;
  border: 1px solid #5f3ec0;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}
.news__category-item input:checked + span {
  background-color: #5f3ec0;
  color: #fff;
}

.news__articles {
  display: grid;
  grid-row-gap: 30px;
  row-gap: 30px;
  margin-bottom: 30px;
}

@media (min-width: 769px) {
  .news__articles {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
    grid-row-gap: 40px;
    row-gap: 40px;
  }
}
@media (min-width: 1365px) {
  .news__articles {
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    grid-row-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
  }
  .news__articles.view-row {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
  .news__articles.view-column {
    grid-template-columns: 1fr 1fr;
  }
  .news__articles.view-column .article-el {
    display: grid;
    grid-template-columns: 270px 1fr;
  }
}
.news__more {
  display: block;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  padding: 17px;
}

@media (min-width: 1365px) {
  .news__more {
    display: none;
  }
}
.product-card-container {
  padding-left: var(--main-padding);
}
.product-card-container:after {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 180px;
  pointer-events: none;
  z-index: 1;
}
.product-card-container:before {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 180px;
  pointer-events: none;
  z-index: 1;
  left: 0;
  background: linear-gradient(90deg, #fff 15%, rgba(255, 255, 255, 0.93) 21%, rgba(255, 255, 255, 0) 75%);
}
.product-card-container .swiper-slide {
  --slide-gap:20px;
  padding-right: var(--slide-gap);
  transition: opacity 0.3s;
}
.product-card-container .swiper-slide:last-child {
  padding-right: var(--main-padding);
}
.product-card-container .swiper-slide--full {
  --slide-gap:15px;
}
.product-card-container .swiper-slide-prev {
  opacity: 0;
}

@media (min-width: 1365px) {
  .product-card-container:after {
    content: "";
    right: 0;
    background: linear-gradient(270deg, #fff 15%, rgba(255, 255, 255, 0.93) 21%, rgba(255, 255, 255, 0) 75%);
  }
}
@media (min-width: 769px) {
  .product-card-container .swiper-slide {
    --slide-gap:30px;
  }
}
@media (min-width: 1365px) {
  .product-card-container .swiper-slide {
    --slide-gap:60px;
  }
  .product-card-container .swiper-slide:last-child {
    padding-right: var(--slide-gap);
  }
}
@media (min-width: 769px) {
  .product-card-container .swiper-slide--full {
    --slide-gap:25px;
  }
}
@media (min-width: 1365px) {
  .product-card-container .swiper-slide--full {
    --slide-gap:30px;
  }
  .product-card-container .swiper-slide--full:last-child {
    padding-right: 60px;
  }
}
.shadow-disable:before {
  content: "";
}
.shadow-disable:after {
  content: none;
}

.product-card-list {
  display: flex;
  width: 100%;
}

.product-card-wrap {
  display: grid;
}

.product-card {
  --bonus-size:30px;
  --font-size-discount:8px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 180px;
  flex-shrink: 0;
  padding: 27px 0 1px;
}

.product-card--m-icon {
  --bonus-size:50px;
  --font-size-discount:15px;
}

@media (min-width: 1365px) {
  .product-card {
    --bonus-size:70px;
    --font-size-discount:18px;
    width: 309px;
    padding: 66px 0 1px;
  }

  .product-card--sm-icon {
    --bonus-size:50px;
    --font-size-discount:15px;
  }
}
.product-card--full {
  width: var(--column-width-sm);
}

.product-card__bonuses {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-row-gap: 5px;
  row-gap: 5px;
  z-index: 2;
}

@media (min-width: 1365px) {
  .product-card__bonuses {
    grid-row-gap: 10px;
    row-gap: 10px;
  }
}
.bonus-icon {
  position: relative;
  display: grid;
  width: var(--bonus-size);
  height: var(--bonus-size);
}
.bonus-icon > img, .bonus-icon > span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -o-object-fit: contain;
  object-fit: contain;
}
.bonus-icon:hover .tooltip-bonus {
  visibility: visible;
  opacity: 1;
}

.bonus-discount {
  display: grid;
  align-items: center;
  justify-items: center;
  place-items: center;
  font-weight: 700;
  font-size: var(--font-size-discount);
  color: #fff;
  background-color: #d7364f;
  order: 2;
}

.priority-0 {
  order: 0;
}

.priority-1 {
  order: 1;
}

.priority-2 {
  order: 2;
}

.priority-3 {
  order: 3;
}

.priority-4 {
  order: 4;
}

.priority-5 {
  order: 5;
}

.product-card__icon {
  padding: 0;
  cursor: pointer;
  display: grid;
  align-content: center;
}
.product-card__icon svg {
  width: 22px;
  height: 22px;
  margin-left: 5px;
  fill: none;
  color: #b4b4b4;
  transition: fill 0.3s, color 0.3s;
}
.product-card__icon.checked svg {
  fill: #5f3ec0;
  color: #5f3ec0;
}

@media (min-width: 1365px) {
  .product-card__icon svg {
    width: 26px;
    height: 26px;
  }
}
.icon-type-delete.checked svg, .icon-type-delete:active svg {
  fill: #d7364f;
  color: #d7364f;
}

.product-card__icons {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  z-index: 2;
}

.product-card__icons--big svg {
  width: 24px;
  height: 24px;
}

@media (min-width: 1365px) {
  .product-card__icons--big svg {
    width: 32px;
    height: 32px;
  }
}
.product-card__img {
  position: relative;
  width: 100%;
  height: 108px;
  margin-bottom: 10px;
}

@media (min-width: 1365px) {
  .product-card__img {
    height: 210px;
  }
}
[data-empty]:before {
  content: attr(data-empty);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-weight: 700;
  font-size: 10px;
  color: #b4b4b4;
  background: url(/images/camera.svg?458c88600ae5a05f664193a896585c94) 50%/80px 80px no-repeat;
}

@media (min-width: 1365px) {
  [data-empty]:before {
    padding: 0 0 20px;
    font-size: 16px;
  }
}
.product-card__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.product-card__info .product-card-desc {
  margin-bottom: 10px;
}

.product-card__name {
  margin-bottom: 7px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4;
  color: #b4b4b4;
}

@media (min-width: 1365px) {
  .product-card__name {
    font-size: 14px;
  }
}
.product-card__old-price {
  margin-bottom: 5px;
  font-size: 10px;
  color: #b4b4b4;
}

@media (min-width: 1365px) {
  .product-card__old-price {
    font-size: 16px;
  }
}
.product-card__price {
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 14px;
}

@media (min-width: 1365px) {
  .product-card__price {
    margin-bottom: 15px;
    font-size: 24px;
  }
}
.product-card__buy-wrap {
  display: flex;
  align-items: stretch;
  margin-top: auto;
}

.product-card__buy {
  padding: 9px 5px;
  flex-grow: 1;
  font-size: 10px;
  border: 1px solid #5f3ec0;
}

@media (min-width: 400px) {
  .product-card__buy {
    padding: 9px;
  }
}
@media (min-width: 1365px) {
  .product-card__buy {
    min-height: 50px;
    font-size: 14px;
  }
}
.product-card__cart {
  position: relative;
  display: grid;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-items: center;
  place-items: center;
  flex-shrink: 0;
  padding: 0;
  margin-left: 15px;
  border-radius: 6px;
  background-color: #5f3ec0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.product-card__cart .counter {
  position: absolute;
  top: 0;
  right: 0;
}
.product-card__cart .counter:after {
  top: -5px;
  right: -5px;
}
.product-card__cart .counter span {
  display: none;
}
.product-card__cart svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}
.product-card__cart:focus, .product-card__cart:hover {
  background-color: #2a0d80;
}

@media (min-width: 1365px) {
  .product-card__cart {
    width: 50px;
    height: 50px;
  }
  .product-card__cart svg {
    fill: #fff;
    width: 32px;
    height: 32px;
  }
}
.product-card__assets {
  display: flex;
  align-items: flex-end;
  min-height: 28px;
  margin-bottom: 28px;
}

@media (min-width: 1365px) {
  .product-card__assets {
    margin-bottom: 15px;
    min-height: 42px;
  }
}
.product-review {
  padding-top: 50px;
  margin-bottom: 0;
}
.product-review h2 {
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 24px;
}

@media (min-width: 1365px) {
  .product-review h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #000;
  }
}
@media (min-width: 1365px) {
  .product-review {
    grid-area: 1/2/3/-1;
    padding-top: 92px;
  }
  .product-review .product-card-container {
    height: 1041px;
  }
  .product-review .product-card-container:after {
    content: none;
  }
  .product-review .product-card-list {
    flex-direction: column;
  }
  .product-review .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    width: auto;
  }
  .product-review .product-card-wrap {
    --slide-gap:45px;
    height: 347px;
    padding-top: 60px;
  }
  .product-review .btn-slider {
    display: none;
  }
}
.article--review .article-el__mark {
  display: none;
}

@media (min-width: 1365px) {
  .article--review {
    grid-template-columns: 1fr 570px;
    grid-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    padding-bottom: 100px;
  }
  .article--review .title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .article--review .title .article-el__mark {
    display: inline-block;
    flex-shrink: 0;
    margin: 10px 0 0 30px;
    font-size: 16px;
  }
}
.news--review {
  padding: 0 var(--main-padding) 50px;
}
.news--review .news__articles {
  display: none;
}
.news--review .article__navigation {
  margin-top: 0;
}

@media (min-width: 1365px) {
  .news--review .news__articles {
    display: grid;
    margin-top: 50px;
  }
}
@media (min-width: 1681px) {
  .news--review .news__articles .article-el {
    grid-template-columns: 420px 1fr;
  }
  .news--review .article-el__img {
    padding-top: 64.29%;
  }
}
